[submodule "soul_login"]
	path = soul_login
	url = https://github.com/CHANZHILIN/soul_login.git
[submodule "kotlin_baseLib"]
	path = kotlin_baseLib
	url = https://github.com/CHANZHILIN/kotlin_baseLib.git
[submodule "soul_picture"]
	path = soul_picture
	url = https://github.com/CHANZHILIN/soul_picture.git
[submodule "soul_music"]
	path = soul_music
	url = https://github.com/CHANZHILIN/soul_music.git
[submodule "soul_video"]
	path = soul_video
	url = https://github.com/CHANZHILIN/soul_video.git
